DELETE FROM "aru";
DELETE FROM "partner";
DELETE FROM "szlafej";
DELETE FROM "szlasor";
DELETE FROM "penztarbizonylat";
UPDATE "syncdate" SET "lastupdate" = '2022 01 01';
UPDATE "syncdate" SET "lastdownload" = '2022 01 01';